<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <!-- Security constraint for FlightService only accessible via SSL -->
    <security-constraint>
        <display-name>FlightsServiceSecurity</display-name>

        <web-resource-collection>
            <web-resource-name>FlightsServiceWithSSL</web-resource-name>
            <url-pattern>/FlightsServiceService</url-pattern>
        </web-resource-collection>

        <!-- Redirect all connections to SSL -->
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>